#root {
    min-height: 100vh;
}
  
:root{
    --primary-100: ;
    --primary-200: ;
    --primary-300: ;
    --secondary: ;
}

input{
    outline: none;
    width: 87%;
}
.tab{
    color: #9DA8B7;
    font-weight: 600;
    width: 100%;
    padding: 10px 12px;
    margin: 6px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.tabFocus{
    background-color: #DAE2ED;
    color: #434D5B;
}
.tab:hover{
    background-color: #DAE2ED;
}
.cursor-pointer{
    cursor: pointer;
}
.w-fit{
    width: fit-content;
}
.h-fit{
    height: fit-content;
}

.text-primary-100 {
    color: "var(--primary-100)"
}

.bg-primary-100 {
    background-color: var(--primary-100)
}

.text-primary-200 {
    color: "var(--primary-200)"
}

.bg-primary-200 {
    background-color: var(--primary-200)
}

.text-primary-300 {
    color: "var(--primary-300)"
}

.bg-primary-300 {
    background-color: var(--primary-300)
}

@media (max-width: 768px) {
    #root {
      min-height: 92vh;
    }
}